:host {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }
    .profile-card {
        text-align: center;
        padding: 10px 20px 20px 20px;
        img {            
            width: 225px;
            height: 80px;
            // object-fit: cover;
            // border-radius: 50%;
        }
    }
}
