<mat-card>
  <mat-card-header>
    <mat-card-title>Registro de solicitud</mat-card-title>
    <mat-card-subtitle>Formulario de solicitudes </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="validarComprobanteFormGroup">
        <form [formGroup]="validarComprobanteFormGroup">
          <ng-template matStepLabel>Validar comprobante electronico</ng-template>
          <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxFlexFill>
            <div fxLayout="column" fxFlex="40">
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" fxLayoutAlign="space-evenly center">
                  <mat-form-field>
                    <mat-label>Serie Comprobante</mat-label>
                    <mat-select formControlName="seriecomprobante">
                      <mat-option value="one">First option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxLayoutAlign="space-evenly center">
                  <mat-form-field>
                    <mat-label>Numero Comprobante</mat-label>
                    <input matInput placeholder="Numero Comprobante" formControlName="numerocomprobante" required>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" fxLayoutAlign="space-evenly center">
                  <mat-form-field>
                    <mat-label>Serie Guia</mat-label>
                    <mat-select formControlName="serieguia">
                      <mat-option value="one">First option</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxLayoutAlign="space-evenly center">
                  <mat-form-field>
                    <mat-label>Numero Guia</mat-label>
                    <input matInput placeholder="Numero Guia" formControlName="numeroguia" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="column" fxFlex="60" fxLayoutAlign="center center">
              <img src="assets/img/factura.png" width="185px" height="180px">
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center end">
            <button mat-button matStepperNext>Validar
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
