<mat-card>
  <mat-card-header>
    <mat-card-title>Registro de solicitud</mat-card-title>
    <mat-card-subtitle>Formulario de solicitudes </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="false" #stepper labelPosition="end">
      <mat-step [stepControl]="validarComprobanteFormGroup">
        <mat-card>
          <mat-card-title>Datos del comprobante</mat-card-title>
          <form [formGroup]="validarComprobanteFormGroup">
            <ng-template matStepLabel>Validar comprobante electronico</ng-template>
            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxFlexFill>
              <div fxLayout="column" fxFlex="40">
                <div fxLayout="row" fxLayout.xs="column">
                  <div fxFlex="50" fxLayoutAlign="space-evenly center">
                    <mat-form-field>
                      <mat-label>Serie Comprobante</mat-label>
                      <mat-select formControlName="seriecomprobante" required>
                        <mat-option *ngFor="let item of series" [value]="item">{{item}}</mat-option>
                      </mat-select>
                      <mat-error [id]="item.tipo" *ngFor="let item of erroresValidacion.errores">
                        <div
                          *ngIf="validarComprobanteFormGroup.get('seriecomprobante')?.hasError(item.tipo) && validarComprobanteFormGroup.get('seriecomprobante')?.dirty">
                          {{item.mensaje}}
                        </div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="50" fxLayoutAlign="space-evenly center">
                    <mat-form-field>
                      <mat-label>Numero Comprobante</mat-label>
                      <input matInput placeholder="Numero Comprobante" pattern="[0-9]*" min="1"
                        formControlName="numerocomprobante" maxlength="10" required>
                      <mat-error [id]="item.tipo" *ngFor="let item of erroresValidacion.errores">
                        <div
                          *ngIf="validarComprobanteFormGroup.get('numerocomprobante')?.hasError(item.tipo) && validarComprobanteFormGroup.get('numerocomprobante')?.dirty">
                          {{item.mensaje}}
                        </div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <br>
              <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
                <button mat-button [disabled]="!validarComprobanteFormGroup.valid"
                  (click)="validarComprobante()">Validar
                  <mat-icon>check</mat-icon>
                </button>
              </div>
              <div fxLayout="column" fxFlex="40" fxLayoutAlign="center center">
                <img src="assets/img/factura.png" width="185px" height="180px">
              </div>

            </div>
            <br>
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center end">
              <button mat-button [disabled]="!resValidacion.Success" matStepperNext>Siguiente
                <mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </form>
        </mat-card>
      </mat-step>

      <mat-step [stepControl]="SolicitudesFormGroup">
        <mat-card-title>{{comprobantes?.razon}}</mat-card-title>
        <ng-template matStepLabel>Solicitud de devolucion de mercaderia</ng-template>
        <br>
        <form [formGroup]="SolicitudesFormGroup">
          <div fxLayout="row" fxLayoutAlign="space-between" fxlayout.xs="column">

            <div fxLayout="column" fxLayoutAlign="space-between" fxFlexFill>
              <div fxLayout="row" fxLayoutAlign="space-between" fxlayout.xs="column" fxlayout.md="column">
                <mat-form-field appearance="fill" fxFlex="65">
                  <mat-label>Nombre de solicitante</mat-label>
                  <input matInput>
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="34">
                  <mat-label>Fecha de solicitud</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between" fxlayout.xs="column">
                <div fxLayout="column" fxLayoutAlign="none" fxFlex="60">
                  <div fxLayout="row" fxLayoutAlign="space-between" fxlayout.xs="column">
                    <mat-form-field appearance="fill" fxFlex="100">
                      <mat-label>Numero de OC</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field appearance="fill" fxFlex="100">
                      <mat-label>Fecha de OC</mat-label>
                      <input matInput>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="column" fxFlex="39">
                  <div fxLayout="row" fxLayoutAlign="space-between">

                    <mat-form-field appearance="fill" fxFlex="100">
                      <mat-label>Motivo de devolucion</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>
          </div>



          <mat-card-subtitle>Solicitud de devolucion de mercaderia</mat-card-subtitle>
          <form action="">
            <mat-table [dataSource]="comprobantesdetalle">
              <!-- Position Column -->
              <!-- <ng-container matColumnDef="secuencia">
                  <mat-header-cell  *matHeaderCellDef> N° </mat-header-cell>
                  <mat-cell  *matCellDef="let element"> {{element?.secuencia}} </mat-cell>
                </ng-container> -->

              <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="descripcion"> {{element?.descripcion}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="modelo">
                <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="modelo"> {{element?.modelo}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="cantidadtotal">
                <mat-header-cell *matHeaderCellDef> Cantidad Total </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="cantidad total">
                  {{element?.cantidad}}
                </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef> Cantidad a devolver </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="cantidad">
                  <!-- {{element?.cantidad}}  -->
                  <mat-form-field>
                    <!-- <mat-label>Input</mat-label> -->
                    <input matInput [value]="element?.cantidad">
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="medida">
                <mat-header-cell *matHeaderCellDef> Und. Medida </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="medida"> {{element?.medida}} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
          </form>
        </form>
        <br>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
          <button mat-button (click)="stepper.reset()">
            <mat-icon>restart_alt</mat-icon>Resetear
          </button>
          <button mat-button matStepperNext>Finalizar<mat-icon>navigate_next</mat-icon></button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fin Solicitud</ng-template>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>