
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}

.mat-column-descripcion {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-modelo {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-cantidadtotal {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-medida {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-cantidad {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.campoeditor {
  width: 50px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}


// @media screen and (max-width: 960px) {
//   .mat-table {
//     border: 0;
//     vertical-align: middle
//   }

//   .mat-table caption {
//     font-size: 1em;
//   }

//     // Enable this to hide header
//   .mat-table .mat-header-cell {

//     border: 10px solid;
//     clip: rect(0 0 0 0);
//     height: 1px;
//     margin: -1px;
//     padding: 0;
//     position: absolute;
//     width: 1px;
//   }

//   .mat-table .mat-row {
//     border-bottom: 5px solid #ddd;
//     display: block;
//   }
//   /*
//   .mat-table .mat-row:nth-child(even) {background: #CCC}
//   .mat-table .mat-row:nth-child(odd) {background: #FFF}
//   */
//   .mat-table .mat-cell {
//     padding-left: 0px;
//     padding-right: 0px;
//     border-bottom: 1px solid #ddd;
//     display: block;
//     font-size: 1em;
//     text-align: right;
//     font-weight: bold;
//     height:30px;
//     margin-bottom: 4%;
//   }
//   .mat-table .mat-cell:before {
//     /*
//     * aria-label has no advantage, it won't be read inside a table
//     content: attr(aria-label);
//     */
//     // content: attr(aria-label);
//     content: attr(data-label);
//     float: left;
//     text-transform: uppercase;
//     font-weight: normal;

//     font-size: .85em;
//   }
//   .mat-table .mat-cell:last-child {
//     border-bottom: 0;
//   }
//     .mat-table .mat-cell:first-child {
//     margin-top: 4%;
//   }
// }
