/* You can add global styles to this file, and also import other style files */
table
  width: 100%

.spacer
  flex: 1 1 auto

.container-custom
  position: fixed
  left: 0
  top: 60px
  bottom: 60px
  right: 0

// .sidenav 
//   position: none !important
//   display: flexbox
//   align-items: center
//   justify-content: center
//   width: 200px
//   background: rgba(255, 0, 0, 0.5)

mat-sidenav 
  width: 200px


.header-custom 
  position: fixed 
  top: 0
  left: 200px
  right: 0


.footer-custom
  position: fixed 
  bottom: 0
  left: 200px
  right: 0

