/* You can add global styles to this file, and also import other style files */

mat-table
  width: 100%



@media screen and (max-width: 960px)
  .example-table-container
    position: relative
    min-height: 200px
    max-height: 400px
    overflow: auto

  .mat-table .mat-header-cell
    min-width: 100px
    max-width: 150px
    width: 100%

  .campoeditor
    width: 70px

  .mat-cell
    min-width: 100px
    max-width: 150px
